<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>ruWhN8YYomCfS9ZAtjkjuJx%2FNi4%3D</string>
	<key>10007</key>
	<string>Yw%2BZdU3znzdDc0DXw%2FluLjiKjHM%3D</string>
	<key>10001</key>
	<string>822b85rnFQu0F7cr0O2ItMFcAB0%3D</string>
	<key>10002</key>
	<string>GU0i7aJZn8MR8vm%2FfpOUHgJDV5M%3D</string>
	<key>10005</key>
	<string>qcFxedyS3HpCXrl%2BOkeRxQWUcco%3D</string>
	<key>10006</key>
	<string>tlwMfsUTXskchviitm35mhzdgLY%3D</string>
</dict>
</plist>
