<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>pXNd9PaH3eL5Pld%2F2IP9%2FLFh0mQ%3D</string>
	<key>10007</key>
	<string>%2BG4d0Q8D73vsWuZyFsLQ3wqHtKk%3D</string>
	<key>10001</key>
	<string>4cxaMflKxTsiiEiFgyBrSeavAzM%3D</string>
	<key>10002</key>
	<string>wjsDqHh2MN9VUdGc15MbD27qDgY%3D</string>
	<key>10005</key>
	<string>egnnqIbVcsmQgBWJcxgyH70vgNM%3D</string>
	<key>10006</key>
	<string>4468RuB93MHESEPUfMoj9nNlQUs%3D</string>
</dict>
</plist>
