<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>%2BSucrpJLrIPWON0PW%2Bp6XnwBn7U%3D</string>
	<key>8</key>
	<string>AGb0PYHTQOQI22sI%2BRWQc%2Fl7uoE%3D</string>
	<key>9</key>
	<string>kS3%2BU26D0h7dUOb66gnaDNYyVvQ%3D</string>
	<key>10</key>
	<string>yzjqhR0be1wB0SrjLpIfxwL4nUM%3D</string>
	<key>12</key>
	<string>7rYfCkZNABe04RyXdI8pyt8Zs%2B8%3D</string>
	<key>20</key>
	<string>szxbvW1tROJuCSnlmkIwzJVeNyE%3D</string>
</dict>
</plist>
