<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>F9swpAxu2tEm%2B2QVz6kgwMuYSZ4%3D</string>
	<key>8</key>
	<string>QJQgmiEh3DWJ9OkQEmAiiE9DEEc%3D</string>
	<key>9</key>
	<string>56CJSDptwLjVYx%2F9uu7ruIsBNck%3D</string>
	<key>10</key>
	<string>3pccsSPQ2jx%2FxAWPEjwn44un9EI%3D</string>
	<key>12</key>
	<string>oHFF6J%2F61VAo8AfmKcclrBVz7VY%3D</string>
	<key>20</key>
	<string>CThq2M343NkCxuQTyHr7Z6qOXeM%3D</string>
</dict>
</plist>
