<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>5AUsgLaEq1vNf9hw3%2B4j6hh53ak%3D</string>
	<key>8</key>
	<string>olsUJIJneeEkQOgI0yKkH6QR4Qg%3D</string>
	<key>9</key>
	<string>Mch5A0He68pm2nIvoKB6NiEMegE%3D</string>
	<key>10</key>
	<string>QEDhgLAQoVzaGJ5P13QCpaz25co%3D</string>
	<key>12</key>
	<string>37vQGA5tRscpt8uPIaPYyOsH3dM%3D</string>
	<key>20</key>
	<string>FHDwdVdg5okrL3JUjULTZD9TUSo%3D</string>
</dict>
</plist>
