<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>RRHKsxZAX74ak2K9w%2B6F1vsy4aY%3D</string>
	<key>10007</key>
	<string>svUR9iDNkn6gfh3lthz9Ls%2Fj8Sw%3D</string>
	<key>10001</key>
	<string>J7lXTazrDw54HKXTZp3ekMi40v8%3D</string>
	<key>10002</key>
	<string>4f%2Fb%2BpHckT6Mv9XcNNKj2hC8y3s%3D</string>
	<key>10005</key>
	<string>UI8zLlgoC%2BWWo60VTE3ncHtK654%3D</string>
	<key>10006</key>
	<string>gXRSc8uSl3QoJao5Ca4FvIB944U%3D</string>
</dict>
</plist>
